.container {
  display: grid;
  grid-template-columns: 200px 200px 300px;
}
.item {
  background: #0bd;
  color: #fff;
  padding: 10px;
}

/*
grid-template-columnsプロパティで各グリッドアイテムの幅を指定することで、横並びに設定できる。
1列にグリッドアイテムが複数必要な場合は、半角スペースで区切って必要なグリッドアイテムの数だけ幅を指定する。
1列に３つのグリッドアイテムを、各200pxずつ並べる場合は「200px 200px 200px」と指定する。

参考 p159
*/
