div {
  background-image: url(images/bg-airplane.jpg);
  background-repeat: no-repeat;
  background-size: contain; /* 縦横比を保持して画像が全て表示される指定 */
  height: 100vh;
}
p {
  text-align: center;
  padding-top: 30px;
}
