/* 共通部分 */
html {
  font-size: 100%; /* ユーザーの指定した文字サイズを正しく反映 */
}
body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7; /* 行の高さの指定 */
  color: #432;
}
a {
  text-decoration: none; /* aタグの傍線の指定 */
}
img {
  max-width: 100%; /* 画像の大きさの指定 100%を指定することで、画像が親要素より大きくなることを防ぐ */
}
/* HEADER */
.logo
{
  width: 210px;
  margin-top: 14px;
}


/* 参考 p182 */
